@font-face {
    font-family: 'MaPolice2';
    src: url('fonts/digitalix.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1a1a1a;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url('assets/fondlave.webp');
    background-position: bottom;
    position: relative;
    font-family: 'MaPolice2', Arial, sans-serif;
}

#login-screen {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    font-family: 'MaPolice2', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: 'MaPolice2', Arial, sans-serif;
}

#gameCanvas {
    border: 2px solid #1a1a1a;
}

#start-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#start-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#players-count {
    margin-top: 10px;
    color: white;
} 

@font-face {
    font-family: 'MaPolice';
    src: url('fonts/monsterama.ttf') format('truetype');
}

#game-title {
    display:flex;
    align-items: center;
    gap: 10px;
    background-color: #1a1a1a;
    margin: 0;
    position: absolute;
    top: 50px;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    font-family: 'MaPolice', Arial, sans-serif;
    font-size: 6rem;
    color: #4CAF50;
    margin: 0;
}
h3 {
    color: white;
    font-size: 5rem;
    margin: 0;
}
#game-title p {
    position: absolute;
    bottom: -10px; /* Ajustez selon le rendu souhaité */
    right: 10px;
    transform: rotate(-10deg); /* Inclinaison */
    font-size: 1.5rem;
    font-weight: bold;
    animation: pulse 1.5s infinite alternate ease-in-out;
    color: yellow;
}

@keyframes pulse {
    0% {
        transform: rotate(-10deg) scale(1);
    }
    100% {
        transform: rotate(-10deg) scale(1.2);
    }
}

.sound-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.sound-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}